@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono'),
         url('/assets/ubmonor.woff') format('woff'),
         url('/assets/ubmonor.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono Bold'),
         url('/assets/ubmonob.woff') format('woff'),
         url('/assets/ubmonob.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono Italic'),
         url('/assets/ubmonoi.woff') format('woff'),
         url('/assets/ubmonoi.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono Bold Italic'),
         url('/assets/ubmonoz.woff') format('woff'),
         url('/assets/ubmonoz.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

main .mdl-grid {
    margin: 0;
    padding: 0;
    background: white;
}

@media (min-width: 840px) {
    main .mdl-grid {
        padding: 0;
        margin: 0 10px;
        background: white;
        box-shadow: 0 0 8px gray;
    }
}

body {
    font-family: "Segoe UI", Ubuntu, "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    background: silver;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mdl-navigation__link:hover {
    text-decoration: none;
}

.main-article p:hover, .main-article li:hover, .main-article li:hover, .main-article h1:hover, .main-article h2:hover, .main-article h3:hover, .main-article h4:hover, .main-article h5:hover, .main-article h6:hover {
    background: #f5f5f5;
}

.article {
    margin: 40px 20px;
}

.article * {
    font-size: 16px;
}

.article * * {
    font-size: inherit;
}

.article h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.article h1 {
    font-size: 2.8em;
    color: #0077bb;
}

.article h2 {
    font-size: 1.8em;
}

.article h3 {
    font-size: 1.6em;
}

.article h4 {
    font-size: 1.4em;
}

.article h5 {
    font-size: 1.2em;
}

.article h6 {
    font-size: 1.1em;
}

.article h2, h3, h4, h5, h6 {
    margin: 0.25em 0 0.25em 0;
}

.article p {
    margin: 0.15em 0 0.15em 0;
    text-align: justify;
    text-justify: newspaper;
    text-justify: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hanging-punctuation: allow-end;
}

.article ol {
    margin: 0.5em 0 0.5em 0;
}

.article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.article img:hover {
    outline: silver 1px dashed;
}

.article pre {
    margin: 4px 5px 2px 5px;
}

.article a {
    color: #2195f3;
}

.article table {
    border-collapse: collapse;
    width: 100%;
    margin: 0.5em 0 0.5em 0;
}

.article tr {
    line-height: 30px;
}

.article tr:hover {
    background: #f5f5f5;
}

.article td, th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.article td {
    border: 1px solid #DDDDDD;
}

.article th {
    background-color: #f6f6f6;
    border: 1px solid #CCCCCC;
}

.article td.code {
    text-align: left;
    width: 100%;
}

.article blockquote {
    background: #f5f5f5;
    color: #272727;;
    border-left: 10px solid #cccccc;
    margin: 0.5em 0 0.5em 0;
    padding: 0.1em 1em 0.1em 1em;
    font-style: normal;
    font-family: inherit;
}

.article blockquote::before {
    display: none;
}

.article blockquote::after {
    display: none;
}

.article blockquote:hover {
    border-left: 10px solid #2096f3;
}

.article blockquote > p {
    width: 100%;
    margin: 9px 0 9px 0;
}

.article .label {
    border-radius: 3px;
    background-color: #3ea9f3;
    color: white;
    font-size: 80%;
    margin: 0.1em 0 0.1em 0;
    padding: 2px 4px;
    display: inline-block;
}

.article center {
    max-width: 90%;
    margin: auto;
    font-size: 15px;
    color: #9a9a9a;
}

.article center:hover {
    color: rgba(0, 0, 0, 0.87);
}

pre, code {
    font-family: Consolas, 'Ubuntu Mono', monospace;
    hyphens: none;
    /*word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;*/
}

.article .footnote-ref {
    font-size: 80%;
}

.article .footnote-ref:before {
    content: '[';
}

.article .footnote-ref:after {
    content: ']';
}

.article .footnote li > p {
    margin: 0 auto;
    color: #666;
    font-size: 90%;
}

.article .mdl-tooltip {
    line-height: 1.1em;
}

div.toc ul {
    padding-left: 1.35em;
    margin: 0;
}

div.toc li {
    line-height: 140%;
}

.mdl-card {
    min-height: 10px;
}

.drawer-icon {
    vertical-align: bottom;
}

.drawer-title {
    font-family: Ubuntu, "Segoe UI", Georgia, Merriweather, "Times New Roman", serif;
    font-style: italic;
    color: #0077bb;
}

header .material-icons {
    line-height: 48px;
}

header .mdl-textfield {
    margin-top: 0.6em;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-info {
    border-color: #dddddd;
}

.panel-heading {
    padding-left: 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-info > .panel-heading {
    color: white;
    background-color: #2196f3;
    border-color: #dddddd;
}

.panel-body {
    padding: 15px;
}

h3.panel-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.gitment-container, .gitment-editor-tab, .gitment-editor-submit {
    font-family: 'Segoe UI', 'Ubuntu', 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif;
}

.gitment-editor-submit {
    border-radius: 3px;
}

.sidebar .mdl-card__supporting-text {
    padding: 1em;
    width: calc(100% - 2em);
}

main .mdl-cell.sidebar {
    margin: 0 8px 0 0;
}

.mdl-mega-footer {
    border-top: 10px solid gray;
}

.sidebar {
    border-left: 1px dashed silver;
    margin-left: 0;
    padding-left: 8px;
}

.sidebar .article {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 40px 20px;
    height: calc(100vh - 64px - 40px - 40px);
    overflow: auto;
}

.sidebar-card {
    width: 100%;
    overflow: visible;
}

.sidebar-title {
    padding: 0.5em 1em;
    font-size: 1.2em;
    background: rgba(32, 150, 243,0.7);
    position: -webkit-sticky;
    position: sticky;
    top: -40px;
    z-index: 3;
}

.nano.mdl-card {
    height: 200px;
    background: url('/assets/nano.jpg') center / cover;
}

.nano > .mdl-card__actions {
    min-height: 3em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.45);
}

.nano .nano-ref {
    flex-grow: 1;
}

.nano .nano-shell {
    color: white;
    font-size: 1.1em;
    font-family: Consolas, 'Ubuntu Mono', monospace;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.nano .nano-shell a {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.nano .nano-shell a:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.nano .nano-shell .shell-start {
    color: #2196f3;
}

.mdl-mega-footer__bottom-section {
    text-align: right;
}

mathjax:before {
    content: " ";
}

mathjax:after {
    content: " ";
}

mathjax + br {
    display: none;
}

/*.katex {
    font-size: 110%;
}*/

.katex-display, .MathJax_SVG_Display, .MathJax_Display {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 !important;
}

/*.katex .tag {
    position: initial !important;
    right: initial !important;
    float: right;
}*/

.codehilitetable {
    border-collapse: collapse;
    border-spacing: 0;
}

.codehilitetable, .codehilitetable tbody, .codehilitetable tr {
    display: flex;
    width: 100%;
}

.code {
    display: block;
    overflow-x: auto;
    border-left: none;
}

.codehilitetable td {
    padding: 0;
    text-align: left;
    line-height: 18px;
}

.linenos {
    border-right: solid 1px black !important;
}

.mathopt-head {
    color: black;
    font-size: 120%;
    padding-bottom: 5px;
    padding-top: 8px;
    display: block;
}

.gitment-footer-container {
    display: none;
}

.gitment-comments-init-btn, .gitment-editor-submit, .gitment-comments-init-btn:disabled, .gitment-editor-submit:disabled {
    background-color: #2196f3;
}

.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #008000 }
.codehilite .err { border: 1px solid #FF0000 }
.codehilite .k { color: #0000ff }
.codehilite .cm { color: #008000 }
.codehilite .cp { color: #0000ff }
.codehilite .c1 { color: #008000 }
.codehilite .cs { color: #008000 }
.codehilite .ge { font-style: italic }
.codehilite .gh { font-weight: bold }
.codehilite .gp { font-weight: bold }
.codehilite .gs { font-weight: bold }
.codehilite .gu { font-weight: bold }
.codehilite .kc { color: #0000ff }
.codehilite .kd { color: #0000ff }
.codehilite .kn { color: #0000ff }
.codehilite .kp { color: #0000ff }
.codehilite .kr { color: #0000ff }
.codehilite .kt { color: #2b91af; font-style: italic }
.codehilite .s { color: #a31515 }
.codehilite .nc { color: #2b91af }
.codehilite .ow { color: #0000ff }
.codehilite .sb { color: #a31515 }
.codehilite .sc { color: #a31515 }
.codehilite .sd { color: #a31515 }
.codehilite .s2 { color: #a31515 }
.codehilite .se { color: #a31515 }
.codehilite .sh { color: #a31515 }
.codehilite .si { color: #a31515 }
.codehilite .sx { color: #a31515 }
.codehilite .sr { color: #a31515 }
.codehilite .s1 { color: #a31515 }
.codehilite .ss { color: #a31515 }
.codehilite { color: #000000 }
