.article {  
    margin: 40px 20px;
}

.article h1 {
    font-size: 40px;
    color: #0077bb;
}

.article h2 {
    font-size: 33px;
}

.article h3 {
    font-size: 27px;
}

.article h4 {
    font-size: 24px;
}

.article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.article pre, code {
    margin: 2px 5px;
}

.article a {
    text-decoration: none;
}

.article table {
    margin-bottom: 16px;
}

.article table {
    border-collapse: collapse;
    width: 100%;
}

.article tr {
    line-height: 30px;
}

.article td, th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;    
    text-align: center;
}

.article td {
    border: 1px solid #DDDDDD;
}

.article th {
    background-color: #E9E9E9;
    border: 1px solid #CCCCCC;
}

.codehilitetable {
    border-collapse: collapse;
    border-spacing: 0;
}

.codehilitetable table {
    width: 100%;
}

.codehilitetable td {
    padding: 0;
    text-align: left;
    line-height: 18px;
}

.linenodiv {
    border-right: solid 1px gray;
}

.linenodiv > pre {
    word-wrap: normal;
    word-break: normal;
}

td.code {
    text-align: left;
    width: 100%;
}

.article blockquote {
    background: #eeeeee;
    color: #666666;
    border-left: 10px solid #cccccc;
    margin: 0 0 24px 0;
    padding: 10px 10px 1px 20px;
    font-style: normal;
    font-size: 14px;
}

.article blockquote::before {
    display: none;
}

.article blockquote::after {
    display: none;
}

.article blockquote > p {
    margin-bottom: 9px;
}

.article .label {
    padding: 2px 4px;
    border-radius: 3px;
    background-color: rgb(62, 169, 243);
    color: white;
    font-size: 60%;
}

pre, code {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

.footnote li > p {
    margin: 0 auto;
}

div.toc ul {
    margin: 0;
}

div.toc li {
    font-size: 75%;
    line-height: 18px;
}

div.toc a {
    text-decoration: none;
}

.mdl-card {
    min-height: 10px;
}

.drawer-title {
    font-family: Ubuntu, Merriweather, Georgia, "Times New Roman";
    font-style: italic;
    color: #0077bb;
}

.return-up-button {
    z-index: 1;
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-info {
    border-color: #dddddd;
}

.panel-heading {
    padding-left: 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-info > .panel-heading {
    color: white;
    background-color: #2196f3;
    border-color: #dddddd;
}

.panel-body {
    padding: 15px;
}

h3.panel-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #008000 }
.codehilite .err { border: 1px solid #FF0000 }
.codehilite .k { color: #0000ff } 
.codehilite .cm { color: #008000 }
.codehilite .cp { color: #0000ff }
.codehilite .c1 { color: #008000 }
.codehilite .cs { color: #008000 }
.codehilite .ge { font-style: italic }
.codehilite .gh { font-weight: bold }
.codehilite .gp { font-weight: bold }
.codehilite .gs { font-weight: bold }
.codehilite .gu { font-weight: bold }
.codehilite .kc { color: #0000ff }
.codehilite .kd { color: #0000ff }
.codehilite .kn { color: #0000ff }
.codehilite .kp { color: #0000ff }
.codehilite .kr { color: #0000ff }
.codehilite .kt { color: #2b91af }
.codehilite .s { color: #a31515 }
.codehilite .nc { color: #2b91af }
.codehilite .ow { color: #0000ff }
.codehilite .sb { color: #a31515 } 
.codehilite .sc { color: #a31515 } 
.codehilite .sd { color: #a31515 } 
.codehilite .s2 { color: #a31515 } 
.codehilite .se { color: #a31515 } 
.codehilite .sh { color: #a31515 } 
.codehilite .si { color: #a31515 } 
.codehilite .sx { color: #a31515 } 
.codehilite .sr { color: #a31515 } 
.codehilite .s1 { color: #a31515 } 
.codehilite .ss { color: #a31515 } 
.codehilite { color: #000000 }
